{% extends 'partials/base.html.twig' %}

{% block initial %}
	<div id="contentpage" class="background-single"></div>
{% endblock %}

{% block content %}
	<div style="background-color: white !important; z-index: 1000;">
		<div class="rkzpage">

			<div class="rkzpage-inner" style="background-color: lightgrey;">
				<div class="rkzpage-innerinner">
					{{ page.content }}
				</div>
			</div>

		</div>
	</div>

{% endblock %}
