// Your custom SCSS should be written here...

.grav-lightslider {
    .lSSlideOuter {
        .lSPager.lSpg {
            > li a {
                z-index: 1;
            }
        }
    }
}

#body > script:first-child + .grav-lightslider {
  	margin-top: -3rem;
}

div.uitklap {
	color: rgba(48, 69, 92, 0.8);
	font-size: 17px;
	line-height: 26px;
	letter-spacing: 1px;
	position: relative;
	overflow: hidden;
	max-height: 800px;
	opacity: 1;
	transform: translate(0, 0);
	margin-top: 14px;
	z-index: 2;

	ul {
		list-style: none;
		perspective: 900;
		padding: 0;
		margin: 0;

		li {
			position: relative;
			padding: 0;
			margin: 0;
			padding-bottom: 4px;
			padding-top: 18px;
			border-top: 1px dotted #dce7eb;

			i {
				position: absolute;
				transform: translate(-6px, 0);
				margin-top: 16px;
				right: 0;
			}
			i:before, i:after {
			  	content: "";
			  	position: absolute;
			  	background-color: #ff6873;
			  	width: 3px;
			  	height: 9px;
			}
			i:before {
  				transform: translate(-2px, 0) rotate(45deg);
			}
			i:after {
  				transform: translate(2px, 0) rotate(-45deg);
			}
			input[type=checkbox] {
				position: absolute;
				cursor: pointer;
				width: 100%;
				height: 100%;
				z-index: 1;
				opacity: 0;
			}
			input[type=checkbox]:checked ~ div.uitklap {
				margin-top: 0;
				max-height: 0;
				opacity: 0;
				transform: translate(0, 50%);
			}
			input[type=checkbox]:checked ~ i:before {
				transform: translate(2px, 0) rotate(45deg);
			}
			input[type=checkbox]:checked ~ i:after {
				transform: translate(-2px, 0) rotate(-45deg);
			}
		}

		li:nth-of-type(1) {
			animation-delay: 0.5s;
		}
		li:nth-of-type(2) {
		  	animation-delay: 0.75s;
		}
		li:nth-of-type(3) {
			animation-delay: 1s;
		}
		li:last-of-type {
			padding-bottom: 0;
		}
	}
}