<div class="rkzpage {{ page.header.layout_classes }}">

	<div class="rkzpage-inner" 
		 style="background-color: {{ page.header.bgcolor }};">
		<div class="rkzpage-innerinner">
			{{ page.content }}
		</div>
	</div>

</div>
