* { margin: 0; padding: 0; }

.backstretch {
  position: absolute !important;
}

#welcome {
  height: 100vh;
  display: block;
  cursor: zoom-in;
	position: relative;
}

.zoomContainer { z-index: 100000; }

.overlay-logo {
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  top: 5%;
  text-align: center; 
  color: white;
}

.overlay-button {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 50%;
	margin-left: -50px;
	top: 65%;
	text-align: center; 
	color: white;
  cursor: pointer;
  z-index: 5000;
}

.overlay-button:hover {
  color: #bbb !important;
}

p { 
	/*font: 15px/2 Georgia, Serif;*/ 
	margin: 0 0 30px 0; 
	/*text-indent: 40px; */
}

body {
	overflow-x: hidden;
}
#demo-top-bar {
	text-align: left;
	background: #222;
	position: relative;
	zoom: 1;
	width: 100% !important;
	z-index: 6000;
	padding: 20px 0 20px;
}
#demo-bar-inside {
	width: 960px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
#demo-bar-buttons {
	padding-top: 10px;
	float: right;
}
#demo-bar-buttons a {
	font-size: 12px;
	margin-left: 20px;
	color: white;
	margin: 2px 0;
	text-decoration: none;
	font: 14px "Lucida Grande", Sans-Serif !important;
}
#demo-bar-buttons a:hover,
#demo-bar-buttons a:focus {
	text-decoration: underline;
}
#demo-bar-badge {
	display: inline-block;
	width: 302px;
	padding: 0 !important;
	margin: 0 !important;
	background-color: transparent !important;
}
#demo-bar-badge a {
	display: block;
	width: 100%;
	height: 38px;
	border-radius: 0;
	bottom: auto;
	margin: 0;
	background: url(/images/examples-logo.png) no-repeat;
	background-size: 100%;
	overflow: hidden;
	text-indent: -9999px;
}
#demo-bar-badge:before, #demo-bar-badge:after {
	display: none !important;
}
#header {
	position: relative !important;
}

/* Uitklapbaar ding */
.transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn, h1, ul li {
  animation: flipdown 0.5s ease both;
}

.no-select, h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
